.header {
    background: var(--white);
    color: var(--black);
    position: fixed;
    z-index: 2;
    min-height: 56px;
    border-bottom: 1px solid var(--light-gray);
    position: relative;
}
.header:before {
    background-image: url("data:image/svg+xml,%3Csvg width='281' height='161' viewBox='0 0 281 161' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='21.4082' cy='-13' rx='98.7041' ry='100' fill='%239DC2CE' fill-opacity='0.53' /%3E%3Cellipse cx='-77.2959' cy='61' rx='98.7041' ry='100' fill='%239DC2CE' fill-opacity='0.53' /%3E%3C/svg%3E");
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 120px;
    height: 124px;
    background-repeat: no-repeat;
}

.navbar {
    max-width: 1248px;
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;
}
.navbar h1 a,
.navbar ul li a {
    color: var(--black);
}
.navbar ul {
    display: flex;
}
.navbar ul li a {
    padding: 0 16px;
    transition: all 0.2s ease-in-out;
}
.navbar ul li a:hover,
.navbar ul li a:focus {
    color: var(--black);
}

/* hamberger */
#navcheck,
.nav-btn,
.backdrop {
    display: none;
}
.nav-btn {
    position: absolute;
    right: 24px;
    top: 18px;
    z-index: 99;
}
.nav-btn label span {
    display: block;
    width: 30px;
    height: 1.5px;
    background: var(--black);
    border-radius: 3px;
    transition: background-color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.3s ease-in-out,
        -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
    -webkit-transition: background-color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.3s ease-in-out,
        -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.3s ease-in-out;
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.3s ease-in-out, -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
    position: relative;
}
.nav-btn label span:not(:last-child) {
    margin-bottom: 7px;
}

.nav-menu {
    display: none !important;
}
.nav-btn {
    display: block;
}
.navbar ul li a {
    color: var(--black);
    width: 100%;
    display: block;
    padding: 16px;
}
#navcheck {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 10px;
    width: 56px;
    height: 56px;
    z-index: 999;
    cursor: pointer;
    margin: 0;
    display: block;
}
input#navcheck:checked ~ .nav-btn label span:first-child {
    -webkit-transform: rotate(45deg) translate(6px, 6px);
    transform: rotate(45deg) translate(6px, 6px);
    top: 0;
    left: 0;
}
input#navcheck:checked ~ .nav-btn label span:last-child {
    -webkit-transform: rotate(-45deg) translate(6px, -6px);
    transform: rotate(-45deg) translate(6px, -6px);
    top: 0;
    left: 0;
}
input#navcheck:checked ~ .nav-btn label span:nth-child(2) {
    opacity: 0;
}
input#navcheck:checked ~ .header .navbar .nav-menu {
    display: block !important;
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
    background-color: var(--white);
}
input#navcheck:checked ~ .backdrop {
    position: fixed;
    display: block;
    background-color: rgba(0, 0, 0, 0.36);
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
}
.logo a {
    color: var(--red);
    font-weight: 700;
    font-size: 20px;
}
.logo a span {
    color: var(--yellow);
}
@media (max-width: 768px) {
    .header:before {
        background-size: 180px;
        width: 80px;
        height: 80px;
    }
}
@media (max-width: 480px) {
    .nav-btn {
        right: 16px;
    }
    #navcheck {
        right: 0;
    }
}
.nav-btn a {
    display: block;
    cursor: pointer;
}
.nav-btn a label {
    cursor: pointer;
}
